.headerContainer {
  color: white;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0 20px;
  border: none;
  border-bottom: 2px solid white;
  justify-content: space-between;
}
.headerContainer > div {
  margin: 10px;
}

.appLogo {
  position: relative;
  height: 30px;
}

.searchbarContainer {
  display: flex;
  border: none;
  background-color: #1c1c1e;
  border-radius: 50px;
  flex: 1;
  align-items: center;
  justify-items: center;
  padding: 5px 10px;
}

.searchbar {
  padding-left: 20px;
  background: transparent;
  height: 24px;
  width: 100%;
  border: none;
  outline: none;
  color: #eee;
  font-size: 16px;
}
.searchbaricon {
  height: 20px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links > p {
  margin-right: 10px;
}

.themeContainer {
  display: flex;
  background: #1c1c1e;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  padding: 10px;
  border-radius: 50px;
}

.themeicon {
  height: 20px;
}

button {
  padding: 15px 40px;
  border-radius: 50px;
  background-color: cyan;
  border: none;
}
